# root
.storybook
coverage
node_modules
spec
src
design
.git
.github
.gitignore
.editorconfig
.eslintrc.js
.release-it.js
jest.config.js
tsconfig.json
package-lock.json
README.md
tsconfig.json
tsconfig.production.json
yarn.lock
yarn-error.log

# extensions
*.tgz
